.categories {
	// display: flex;

	ul {
		display: flex;
		li {
			-webkit-touch-callout: none;
			background-color: #f9f9f9;
			border-radius: 30px;
			cursor: pointer;
			font-weight: 700;
			margin-right: 10px;
			padding: 13px 30px;
			transition: background-color 0.1s ease-in-out;
			-webkit-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		.active {
			background-color: #282828;
			color: #fff;
		}
	}
}
