h2 {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 15px;
}

p {
	color: #777;
	font-size: 20px;
	letter-spacing: 0.01em;
	line-height: 145.4%;
}

img {
	display: block;
	margin: 45px auto 60px;
	width: 300px;
}

.backBtn {
	-webkit-touch-callout: none;
	background-color: #fe5f1e;
	border: 1px solid transparent;
	border-radius: 30px;
	cursor: pointer;
	display: inline-block;
	min-width: 100px;
	padding: 10px 20px;
	text-align: center;
	transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #232323;
	text-decoration: none;

	color: #fff;

	font-size: 18px;
	font-weight: 600;
	margin: 0 auto;
	padding: 12px 0 14px;
	width: 230px;

	&:hover,
	&:active {
		background-color: #3d3d3d;
	}

	&:active {
		transform: translateY(1px);
	}
}
